#canvas {
    border: 1px solid #333;
}

/* * { background-color: rgba(255, 0, 0, 0.1); } */
/* * * { background-color: rgba(0, 255, 0, 0.2); } */
/* * * * { background-color: rgba(0, 0, 255, 0.3); } */
